# ASW-A1

## VLANs

vtp mode transparent
vlan 10
name HR_DEPT
vlan 20
name IT_DEPT
vlan 50
name WIFI
vlan 99
name MANAGEMENT
vlan 100
name VOICE

## Trunk Links

interface range g0/1-2
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 1000
switchport trunk allowed vlan 10,20,50,99,100

interface f0/2
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 99
switchport trunk allowed vlan 50,99

## Access Links

interface f0/1
switchport mode access
switchport access vlan 99

## Shutdown unused Links

interface range f0/3-24
shutdown

## Vlans MANAGEMENT

ip default-gateway 10.0.0.1
interface vlan 99
ip address 10.0.0.4 255.255.255.240

## Rapid Spanning Tree PVST +

spanning-tree mode rapid-pvst
interface f0/1
spanning-tree portfast
spanning-tree bpduguard enable

interface f0/2
spanning-tree portfast trunk
spanning-tree bpduguard enable

## NTP Server

clock timezone CET 1
ntp server 10.0.70.7

## Syslog

logging host 10.0.70.8


## DHCP Snooping

ip dhcp snooping
ip dhcp snooping vlan 10,20,50,99,100
no ip dhcp snooping information option

interface f0/2
ip dhcp snooping trust
ip dhcp snooping limit rate 100

interface f0/1
ip dhcp snooping limit rate 15

interface range g0/1-2 
ip dhcp snooping trust


## Dynamic ARP Inspection

ip arp inspection vlan 10,20,50,99,100
ip arp inspection validate dst-mac ip src-mac

int f0/2 - WLC
ip arp inspection trust

interface range g0/1-2 
ip arp inspection trust


#ACL

access-list 10 permit 10.0.20.0 0.0.0.255 
access-list 10 deny any

line vty 0 15
access-class 10 in

#SSH
ip domain-name alancompany
crypto key generate rsa
4096
ip ssh version 2
line vty 0 15
transport input ssh
login local
logging synchronous
exit
username alan secret ccnalab

#Console
line 0
login local