# ASW-S2

## VLANs

vtp mode transparent
vlan 60
name SRV_PUB
vlan 70
name SRV_INT
vlan 99
name MANAGEMENT

## Trunk Links

interface range g0/1-2
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 1000
switchport trunk allowed vlan 60,70,99

## Access Links

interface f0/1
switchport mode access
switchport access vlan 70

interface f0/2
switchport mode access
switchport access vlan 60

interface f0/3
switchport mode access
switchport access vlan 70
no shutdown

## Shutdown unused Links

interface range f0/4-24
shutdown

## Vlans MANAGEMENT

ip default-gateway 10.0.0.33
interface vlan 99
ip address 10.0.0.37 255.255.255.240

## Rapid Spanning Tree PVST +

spanning-tree mode rapid-pvst
interface range f0/1-4
spanning-tree portfast
spanning-tree bpduguard enable

## NTP Server

clock timezone CET 1
ntp server 10.0.70.7

## Syslog

logging host 10.0.70.8

## Port Security

int range f0/1-4
switchport port-security
switchport port-security maximum 1
switchport port-security violation restrict
switchport port-security mac-address sticky

#ACL

access-list 10 permit 10.0.20.0 0.0.0.255 
access-list 10 deny any

line vty 0 15
access-class 10 in

#SSH
ip domain-name alancompany
crypto key generate rsa
4096
ip ssh version 2
line vty 0 15
transport input ssh
login local
logging synchronous
exit
username alan secret ccnalab

#Console
line 0
login local