# DSW-S1

## IP

ip routing
interface l0
ip address 10.0.0.115 255.255.255.255
no shutdown

interface g1/0/3
no switchport
ip address 10.0.0.94 255.255.255.252
no shutdown

interface g1/0/4
no switchport
ip address 10.0.0.102 255.255.255.252
no shutdown

## EtherChannel

interface range g1/0/1-2
shutdown
channel-protocol lacp
channel-group 1 mode active
no shutdown
interface po1
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 1000
switchport trunk allowed vlan 60,70,99

## VLANs

vtp mode transparent
vlan 60
name SRV_PUB
vlan 70
name SRV_INT
vlan 99
name MANAGEMENT

## Trunk Links

interface range g1/0/5-6
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 1000
switchport trunk allowed vlan 60,70,99

## Shutdown unused Links

interface range g1/0/7-24, g1/1/1-4
shutdown

## SVIs and HSRP

interface vlan 60
ip address 10.0.60.2 255.255.255.0
no shutdown
standby version 2
standby 60 ip 10.0.60.1
standby 60 priority 105
standby 60 preempt

interface vlan 70
ip address 10.0.70.2 255.255.255.0
no shutdown
standby version 2
standby 70 ip 10.0.70.1
standby 70 preempt

interface vlan 99
ip address 10.0.0.34 255.255.255.240
no shutdown
standby version 2
standby 99 ip 10.0.0.33
standby 99 priority 105
standby 99 preempt

## Rapid Spanning Tree PVST +

spanning-tree mode rapid-pvst
spanning-tree vlan 60 priority 0
spanning-tree vlan 70 priority 4096
spanning-tree vlan 99 priority 0

## ROUTES/OSPF

interface range g1/0/3-4
ip ospf network point-to-point
exit
router ospf 1
network 10.0.0.0 0.0.0.255 area 0
passive-interface l0
passive-interface vlan 60
passive-interface vlan 70

auto-cost reference-bandwidth 1000000

network 10.0.60.0 0.0.0.255 area 10
network 10.0.70.0 0.0.0.255 area 10

## NTP Server

clock timezone CET 1
ntp server 10.0.70.7

## Syslog

logging host 10.0.70.8

#ACL

access-list 10 permit 10.0.20.0 0.0.0.255 
access-list 10 deny any

line vty 0 15
access-class 10 in


ip access-list extended DC_SERVICES_OUT
 10 permit ip 10.0.10.0 0.0.0.255 any
 
 20 permit tcp any host 10.0.60.4 eq 80
 30 permit tcp any host 10.0.60.4 eq 443
 
 40 permit tcp any host 10.0.60.5 eq 25
 50 permit tcp any host 10.0.60.5 eq 110
 
 60 permit tcp any any established
 
 100 deny ip any any

int vlan 60
ip access-group DC_SERVICES_OUT in

#SSH
ip domain-name alancompany
crypto key generate rsa
4096
ip ssh version 2
line vty 0 15
transport input ssh
login local
logging synchronous
exit
username alan secret ccnalab

#Console
line 0
login local