# R1

## ip

interface l0
ip address 10.0.0.108 255.255.255.255
no shutdown

interface g0/0/0
ip address 203.0.113.1 255.255.255.252
no shutdown
ip route 0.0.0.0 0.0.0.0 203.0.113.2

interface g0/0
ip address 10.0.0.49 255.255.255.252
no shutdown

interface g0/1
ip address 10.0.0.53 255.255.255.252
no shutdown

## ROUTES/OSPF

ip route 0.0.0.0 0.0.0.0 203.0.113.2
interface range g0/0-1
ip ospf network point-to-point
router ospf 1
network 10.0.0.48 0.0.0.3 area 0
network 10.0.0.52 0.0.0.3 area 0
network 10.0.0.108 0.0.0.0 area 0
passive-interface l0
default-information originate
auto-cost reference-bandwidth 1000000

## NTP Server

clock timezone CET 1
ntp server 10.0.70.7

## PAT 

access-list 1 permit 10.0.10.0 0.0.0.255
access-list 1 permit 10.0.20.0 0.0.0.255
access-list 1 permit 10.0.100.0 0.0.0.255
access-list 1 permit 10.0.30.0 0.0.0.255
access-list 1 permit 10.0.40.0 0.0.0.255
access-list 1 permit 10.0.101.0 0.0.0.255
access-list 1 permit 10.0.60.0 0.0.0.255

int g0/0/0
ip nat outside ?
ip nat outside 
int range g0/0-1
ip nat inside 
ip nat inside source list 1 interface g0/0/0

## Syslog

logging host 10.0.70.8

#ACL

access-list 10 permit 10.0.20.0 0.0.0.255 
access-list 10 deny any

line vty 0 15
access-class 10 in

ip access-list extended INTERNET_IN
deny ip 10.0.0.0 0.255.255.255 any
deny ip 172.16.0.0 0.15.255.255 any
deny ip 192.168.0.0 0.0.255.255 any
permit udp host 8.8.8.8 any eq 53
permit ip any any

int g0/0/0
ip access-group INTERNET_IN in

#SSH
ip domain-name alancompany
crypto key generate rsa
4096
ip ssh version 2
line vty 0 15
transport input ssh
login local
logging synchronous
exit
username alan secret ccnalab

#Console
line 0
login local


#FTP

ip ftp username alan
ip ftp password ccnalab
copy ftp: flash: 